p#zart1
{
color: #945cce;
font-size: 32px;
}
p#zart2
{
color: #94c06a;
font-size: 37px;
}
p#zart3
{
color: #a8c01a;
font-size: 1.2cm;
}
p#zart4
{
color: rgba(174, 87, 61, 1);
font-size: 1.9cm;
}
p#zart5
{
color: #28de6a;
font-size: 42px;
}
p#zart6
{
color: #623e9c;
}
p#zart7
{
color: rgba(45, 56, 50, 1);
}
