p#zart1
{
color: blue;
font-size: 37px;
}
p#zart2
{
color: red;
font-size: 37px;
}
p#zart3
{
color: green;
font-size: 37px;
}
p#zart4
{
color: yellow;
font-size: 37px;
}
p#zart5
{
color: magenta;
font-size: 37px;
}
p#zart6
{
color: black;
font-size: 37px;
}
p#zart7
{
color: orange;
font-size: 37px;
}
